
.select-container {
  display: inline-block;
  position: relative;
  width: 100%;
  background-color: #c1c1c1;
  border-radius: 5px;
}

.selected-text {
  padding: 10px 20px;
  cursor: pointer;
}

.selected-text::after {
  content: "";
  position: absolute;
  right: 10px;
  top: 16px;
  border: 7px solid transparent;
  border-color: black transparent transparent transparent;
}

.select-container ul {
  margin: 0;
  padding: 0;
  text-align: center;
  border-radius: 20px;
  overflow: hidden;
  background-color: var(--rb-whitebg);
}

.select-options {
  position: absolute;
  margin-top: 5px;
  width: 100%;
  border: 1px solid #e4e4e4;
}

.select-container li {
  list-style-type: none;
  padding: 6px 20px;
  border-bottom: 1px solid #e4e4e4;
  cursor: pointer;
}

.select-container li:last-child {
  border-bottom: none;
}

.select-container li:hover {
  background-color: #ff6600;
}

.show-dropdown-options {
  opacity: 1;
  visibility: visible;
}

.hide-dropdown-options {
  min-height: 0;
  opacity: 0;
  visibility: hidden;
}