.hidden{overflow: hidden;}
.maxHeight-304.hidden {max-height: 304px;}

.customTabs.calendarTabs-border{line-height: normal;}
.customTabs.calendarTabs-border ul{margin-bottom:8px;}
.customTabs.calendarTabs-border ul:before {background-color: #EFEFEF;content: "";width: 100%;position: absolute;height: 3px;top: 24px; }
.customTabs.calendarTabs-border ul li a.active,  .customTabs.calendarTabs-border ul li a:focus,  .customTabs.calendarTabs-border ul li a:hover  {border-bottom-color: #675704;}
.customTabs.calendarTabs-border ul li a{margin-right: 20px; position: relative; line-height: 19px;padding-bottom: 5px;font-family: 'sourcesansproregular', sans-serif !important; font-weight: normal; font-size:13px;}
.customTabs.calendarTabs-border .tabs[title~=Events]:before {width: 5px;height: 5px;background-color: #008DEE;content: "";position: absolute; top: 7px;left: -8px;}
.customTabs.calendarTabs-border .tabs[title~=Trainings]:before {width: 5px;height: 5px;background-color: #3C3993;content: "";position: absolute; top: 7px;left: -8px;}
.customTabs.calendarTabs-border .tabs[title~=Meetings]:before {width: 5px;height: 5px;background-color: #853D3D;content: "";position: absolute; top: 7px;left: -8px;}

.eventsBorder-left{border-left: solid 4px #008DEE; padding-left: 5px; margin: 8px;}
.trainingsBorder-left{border-left: solid 4px #3C3993; padding-left: 5px; margin: 8px;}
.meetingsBorder-left{border-left: solid 4px #853D3D; padding-left: 5px; margin:8px;}

.calendarpopup {position: absolute;border-radius: 5px;z-index: 99;padding: 8px;box-shadow: 0 0 5px 0px rgba(0,0,0,0.12);border-left: solid 1px rgba(0,0,0,0.12);border-right: solid 1px rgba(0,0,0,0.12);left: 0px;bottom: 55px;box-sizing: border-box; display: none;background-color: rgb(237,237,237);background-image: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(237,237,237,1) 100%);filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ededed",endColorstr="#ffffff",GradientType=1); }
.calendarpopup ul::before{display:none}
.calenderlist .calendarpopup {display: none;}
.calenderlist:hover .calendarpopup {display: block;margin: 0px;width: 100%;}
.calendarpopup::before {content: "";position: absolute;width: 0;height: 0;bottom: -19px;left: 50%;box-sizing: border-box;border-color: transparent transparent #fff #fff;border-style: solid;border-width: 0.8em;transform-origin: 0 0;box-shadow: -3px 3px 3px 0 rgba(0, 0, 0,  0.10);margin-left: -16px;top: unset;transform: rotate(-45deg); }
.calenderlist:first-child .calendarpopup {top: unset;bottom: unset;background-image: linear-gradient(0deg, rgba(237,237,237,1) 0%, rgba(255,255,255,1) 100%);filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#ededed",GradientType=1);border:1px solid #e5e5e5;margin-top: 7px;}
.calenderlist:first-child .calendarpopup::before {bottom: unset;top: 0px;transform: rotate(135deg);}
.calendarpopup h2{color: #008dee; font-size: 12px; font-family: 'sourcesansprosemibold',sans-serif ; padding-bottom: 3px;} 
 .calendarpopup .start, .calendarpopup .end, .calendarpopup .description, .calendarpopup .location{font-family: 'latomedium', sans-serif;font-size: 12px;color:#333333;  padding-bottom: 3px;}
 .calendarpopupcontent {height: 85px;overflow-y: auto;}
 
 .clalendar-item-type{margin: 0px 0px 0px 14px;display: flex; list-style-type: none;}
 .clalendar-item-type li{margin: 0px 25px 8px 0px; position: relative;}
.dots::before {content: "";width: 8px;height: 8px;position: absolute;left: -16px;top: 3px;border-radius: 50%;border: solid 2px #fff;box-shadow: 0 0px 4px rgba(0,0,0,0.3);}
.dots-color1::before, #events::before {background-color: var(--rb-primary-color);}
.dots-color2::before, #trainings::before {background-color: var(--rb-bgcolor-4)}
.dots-color3::before, #meetings::before {background-color: var(--rb-bgcolor-9);}
.calenderlist{padding-right:30px !important;}
.calenderlist.dots::before {left:unset; right: 10px; top: calc(50% - 4px);}